.background_image {
    background-image: url('/images/orbionworld.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}
.site-header {
  display: flex;
  background-color: rgba(20, 20, 40, 0.8);
  backdrop-filter: blur(6px);
  justify-content: center;
  gap: 60px;
  z-index: 1000;
  align-items: center;
  padding: 15px 40px;
}
.site-header a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 6px 12 px;
  border-radius: 4px;
  position: relative;
}
.site-header a::after {
  content:"";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d4af37;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.site-header a:hover::after {
  width: 50%;
}
.site-header a:hover {
  color: #d4af37;
  background-color: rgba(255, 255, 255, 0.1);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    text-align: justify;
    font-size: large;
    font-family: Georgia, serif;
}
.extra{
    background-color: rgba(217, 217, 217, 0.8);
    padding: 50px 100px 50px;
    border-radius: 10%;
}
.news1{
    color: black;
    background-color: rgba(217, 217, 217, 0.8);
    padding: 50px 100px 50px;
    display: inline-block;
    border-radius: 10%;
    font-family: Georgia, serif;
}
.heading{
    text-align: center;
    font-weight: bold;
    font-family: Georgia, serif;
}

.add{
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 10%;
    padding: 50px 100px 50px;
}
.newContainer{
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}
.bubbleAdd{
    width: 250px;
    height: auto; 
    animation: circleBubble 6s infinite linear;
}
@keyframes circleBubble {
  0%   { transform: rotate(0deg) translateX(50px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}
p{
    line-height: 1.6;
}
.bubblePic{
   width: 250px;
  height: auto;
}
